.loader {
  width: 13px;
  aspect-ratio: 1;
  background: #877eff;
  border-radius: 50%;
  animation: l6 0.75s infinite linear alternate;
}
@keyframes l6 {
  0% {
    box-shadow: 15px 0 #877eff, -25px -2px #877eff;
  }
  50% {
    box-shadow: 15px 0 #877eff, -15px 0 #877eff;
  }
  100% {
    box-shadow: 25px -2px #877eff, -15px 0 #877eff;
  }
}
